<ion-header>
  <ion-navbar>
    <ion-title>To Do List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block>Add Task</button>

  <ion-list>

    <ion-item-group>
      <ion-item-divider color="light">TODAY!</ion-item-divider>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="https://st.depositphotos.com/1842549/3995/i/950/depositphotos_39954345-stock-photo-urgent-icon.jpg">
        </ion-thumbnail>
        <h2>Task 1</h2>
        <p>Task Description</p>
        <p>Task Date</p>
        <button ion-button clear item-end>View</button>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">NOT TODAY!</ion-item-divider>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="http://www.solidbackgrounds.com/images/1920x1080/1920x1080-yellow-solid-color-background.jpg">
        </ion-thumbnail>
        <h2>Task 1</h2>
        <p>Task Description</p>
        <p>Task Date</p>
        <button ion-button clear item-end>View</button>
      </ion-item>
    </ion-item-group>
  </ion-list>


  <!--
  <ion-list>
    <ion-item *ngFor="let task of toDoList | async" (click)="seeTask(task)" >
    <ion-label fixed>{{task.title}}</ion-label>
    <ion-label *ngIf="task.description!=''">{{task.description}}</ion-label>
    <ion-label>{{task.date}}</ion-label>  
  </ion-list>
  -->

</ion-content>